@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
.link-nav {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: white;
}

.nav-title p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .nav-title {
    flex-direction: column;
  }
}

.bird {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

header {
  padding: 50px 0 50px 0;
}

.header-title {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#about {
  padding: 50px 0 50px 0;
}

.strong-color {
  color: blue;
}

.section-formation {
  height: 400px;
  margin-bottom: 20px;
}
.section-formation__title h2 {
  text-align: center;
  color: burlywood;
  text-transform: uppercase;
  padding-top: 10px;
}
.section-formation__div1 {
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

.card-portfolio {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.section-competence {
  height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.section-competence__div1 {
  width: 60%;
  border: 1px solid black;
  border-radius: 10px;
}
.section-competence__div1 h2 {
  color: burlywood;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}
.section-competence__div1__text {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px;
  margin-left: 20px;
}
.section-competence__div1__text i {
  color: black;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-competence__div1__text .competence-title {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.section-competence__div2 {
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.section-competence__div2 h2 {
  color: burlywood;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  margin-bottom: 50px;
}
.section-competence__div2__text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.section-competence__div2__text i {
  color: black;
  width: 50px;
  font-size: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.section-competence__div2__text p {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.section-portfolio__title h1 {
  text-align: center;
  padding-top: 10px;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-footer {
  height: 80px;
  background-color: black;
}/*# sourceMappingURL=style.css.map */